<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>{% block title %} {% endblock title %}</title>
    <style>
        input:focus{
            outline:0px;
        }
    </style>
</head>
<body>
<div class="container">
<h1 class="text-center">
{% block page_title %}
{% endblock page_title %}
</h1>
{% block content %}
{% endblock content %}
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/DjangoAjax.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../static/js/propiedades.js"></script>

{% block js %}
{% endblock js %}


</body>
</html>